@import "tailwindcss";

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

::selection {
  background-color: color-mix(in srgb, var(--color-blue-500), transparent 20%);
  color: white;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-slate-300);
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-slate-400);
}

.dark ::-webkit-scrollbar-thumb {
  background-color: var(--color-slate-700);
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-slate-600);
}
